body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

h1 {
    font-size: 7vw;
    width: 100vw;
    height: auto;
}

/* Waving emoji */
div {
    text-align: center;
}

#emoji {
    width: 22vw;
    height: auto;
    position: relative;
    right: 12vw;
}

span.wave {
    width: 10vw !important;
    height: auto;
    position: relative;
    left: 20%;
    animation-name: wave-animation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
}

@keyframes wave-animation {
    0% {
        transform: rotate(0.0deg)
    }

    10% {
        transform: rotate(-30.0deg)
    }

    20% {
        transform: rotate(30.0deg)
    }

    30% {
        transform: rotate(-30.0deg)
    }

    40% {
        transform: rotate(30.0deg)
    }

    50% {
        transform: rotate(0.0deg)
    }

    100% {
        transform: rotate(0.0deg)
    }
}

/* navigate on home page */
ul {
    font-size: 9vw;
    font-weight: bold;
    position: relative;
}

li {
    list-style-type: none;
    width: 100vw;
    height: 100vh;
    padding-top: 50%;
    margin-left: -50px;
}

a {
    color: white;
    text-decoration: none;
    background: black;
    padding: 70px;
    box-shadow: 4px 4px 30px black;
}